{% extends "base.html" %}



{% block content %}

<a href="/discussc/" class="btn btn-primary">Do a Post</a>

{% for o in obj %}
<div class="card">
  <h5 class="card-header">{{o.title}}</h5>
  <div class="card-body">

    <h5 class="card-title">Author: {{o.author}}</h5>
    <p class="card-text">{{o.content|truncatechars:80 }}.</p><br>
    {% if o.author == request.user %}
    <a href="/discuss/edit/{{o.pk}}" class="btn btn-primary">Edit</a>
          <a href="/discuss/{{o.pk}}/delete" class="btn btn-danger">Delete</a>
    {% endif %}
    <a href="{{ o.pk }}" class="btn btn-success">See Full</a>


  </div>
</div>

<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
{% endfor %}

{% endblock content %}