{% extends 'base.html' %}

{% block content %}

Welcome {{ user.username }}
You are a {{ user.cat }}

<br>
{% if user.cat == 'teacher' %}

<p>Give some homework for your students</p>

<form method="post">
    {% csrf_token %}
	<h3>Write Homework</h3>
    <input type="text" name="title" placeholder="Subject"><br>
	<textarea name="homework" placeholder="Write Something"></textarea><br>
	<input type="number" name="std" placeholder="for which standard"><br>
	<button type="submit" class="btn btn-primary">Post</button>
</form>


{% else %}
<p>{{user.std}}</p>
<h3>here is the homework related to class {{user.std}}</h3>


{% for obj in object %}
<div class="card text-center">
  <div class="card-header">
    {{obj.title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Teacher: {{obj.name}}</h5>
    <p class="card-text">email: {{obj.author.email}}.</p>
    <a href="/myhomework/{{obj.pk}}" class="btn btn-primary">See the homework</a>
  </div>
  <div class="card-footer text-muted">
    <p></p>

  </div>
</div>

<br><br>

{% endfor %}

{% endif %}

{% endblock content %}