 {% extends "base.html" %}



{% block content %}
	<div  class="content-section">
<h3>Your given home work</h3>
    <table style="overflow-y: auto;">
        <tr style="overflow-y: auto;">
            <th style="padding-right: 200px;">subject</th>
            <th style="padding-right: 200px;">Name</th>
            <th style="padding-right: 200px;">std</th>
            <th style="padding-right: 200px;">Email</th>
        </tr>
    {% for obj in object_list %}
        <tr>
            <td><a href="/myhomework/{{obj.pk}}">{{obj.title}}</a></td>
            <td>{{obj.name}}</td>
            <td>{{obj.std}}</td>
            <td>{{obj.author.email}}</td>
            <td><a href="/donor_list/{{obj.pk}}/edit/">Edit</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock content %}