{% extends "base.html" %}
    {% block head_title %}List of Teachers | {{ block.super }}{% endblock head_title %}

{% block content %}

<h1>Teachers List</h1>

{% for obj in object_list %}
<div class="card text-center">
  <div class="card-header">
    {{obj.first_name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Email: {{obj.email}}</h5>
    <p class="card-text">Phone: {{obj.phone_number}}.</p>
    <a href="/teachers/{{obj.pk}}" class="btn btn-primary">See full details</a>
  </div>
  <div class="card-footer text-muted">
    <p></p>

  </div>
</div>

<br><br>

{% endfor %}



{% endblock content %}